{% extends 'base.html' %}
{% block content %}
    {% for movie in movies %}
        <div>
            {{movie.id}}
            {{movie.title}}
            {{movie.budget}}
            {{movie.genres}}
            <a href = "/movies/{{movie.id}}">Go to detail</a>
            <a href = "/update_movie/{{movie.id}}">Update</a>
            <!-- <a href = "/delete_movie/{{movie.id}}">Delete</a> -->
        </div>
    {% endfor %}
    <div>
        {% if pagination.current_page > 1 %}
            <a href = "/movies/page/{{pagination.previous_page}}">
                Previous Page
            </a>
        {% endif %}
        {% if pagination.current_page != pagination.last_page %}
            <a href = "/movies/page/{{pagination.next_page}}">
                Next Page
            </a>
        {% endif %}
    </div>
{% endblock %}